@import url('./reset');
@import url('./variables/global');
@import url('./themes/light');
@import url('./themes/dark');

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
