.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0a0a5a;
  --primary-color: #0232c3;
  --second-color: #0452ff;
  --inverted-primary-color: #049604;
  --inverted-second-color: #04ff04;
  --theme-switcher-color: #ffc700;
}
